@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,600;1,700&display=swap");
/* some root variable */
:root {
  --color-background: #0c1023;
  --color-blue-dark: #191f3a;
  --color-main: #eaa023;
  --color-white: #fff;
  --color-white-lighter: #c8c8c8;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  --font-cursive: "Dancing Script", cursive;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 5rem;
  }
}

/* button */

.btn {
  border: 2px solid var(--color-main);
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: var(--color-main);
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

/* grid */

.grid {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* title */

.title {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  color: var(--color-white);
}
.title::before {
  content: attr(data-title);
  display: block;
  font-family: var(--font-cursive);
  color: var(--color-main);
  font-weight: 400;
  font-size: 2.4rem;
}

/* food item */

.food {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding: 1.5rem 0;
  border-bottom: 2px dashed var(--color-blue-dark);
}
.food__head {
  display: flex;
  align-items: center;
}
.food__head-image {
  margin-right: 1rem;
}
.food__head-name {
  color: var(--color-white);
  text-transform: capitalize;
}
.food__price {
  color: var(--color-main);
}

.food:hover .food__head-name {
  color: var(--color-main);
}

.food:hover .food__price {
  color: var(--color-white);
}

/* testimonial item */

.testimonial {
  background-color: var(--color-background);
  color: var(--color-white-lighter);
  padding: 2.5rem;
  border: 2px solid var(--color-blue-dark);
  border-radius: 10px;
}
.testi__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.testi__title-name {
  font-weight: 600;
  color: var(--color-white);
}
.testi__title-name::after {
  content: attr(data-desc);
  display: block;
  font-weight: 400;
  color: var(--color-white-lighter);
  font-size: 1.6rem;
}
.testi__title-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2.5px solid var(--color-background);
}

.testi__rating {
  margin-top: 1rem;
  font-size: 1.7rem;
}

.testi__rating i {
  color: var(--color-main);
}

.testimonial:hover .testi__title-img {
  border-color: var(--color-main);
}

/* member */
.member {
  position: relative;
}
.member__image {
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
}

.member__infor {
  background: var(--color-background);
  color: white;
  width: 30rem;
  text-align: center;
  border-radius: 10px;
  padding: 1.5rem;
  font-weight: 600;
  position: absolute;
  left: 18px;
  bottom: 0;
  transform: translateY(40%);
  line-height: 2;
  transition: all 0.3s ease;
}

.member__infor::after {
  content: attr(data-content);
  display: block;
  font-size: 1.8rem;
  color: var(--color-white-lighter);
  font-weight: 400;
}

.member:hover .member__infor {
  background: var(--color-main);
  transform: translateY(-20%);
}
.member:hover .member__infor::after {
  color: var(--color-white);
}

.member:hover .member__image {
  transform: skewY(3deg);
}
