@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,600;1,700&display=swap");
/* some root variable */
:root {
  --color-background: #0c1023;
  --color-blue-dark: #191f3a;
  --color-main: #eaa023;
  --color-white: #fff;
  --color-white-lighter: #c8c8c8;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  --font-cursive: "Dancing Script", cursive;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 5rem;
  }
}

/* button */

.btn {
  border: 2px solid var(--color-main);
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: var(--color-main);
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

/* grid */

.grid {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* title */

.title {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  background-color: var(--color-background);
  color: var(--color-white);
}
.title::before {
  content: attr(data-title);
  display: block;
  font-family: var(--font-cursive);
  color: var(--color-main);
  font-weight: 400;
  font-size: 2.4rem;
}
