@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,600;1,700&display=swap");
/* some root variable */
:root {
  --color-background: #0c1023;
  --color-blue-dark: #191f3a;
  --color-main: #eaa023;
  --color-white: #fff;
  --color-white-lighter: #c8c8c8;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  --font-cursive: "Dancing Script", cursive;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

.min-vh-100 {
  min-height: 100vh;
}
.sec-padding {
  padding: 8rem 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 4rem;
  }
}

/* button */

.btn {
  display: inline-block;
  border: 2px solid var(--color-main);
  border-radius: 3rem;
  padding: 1rem 3rem;
  color: var(--color-main);
  transition: all 0.3s ease;
  line-height: 1.5;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

/* grid */

.grid {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* title */

.title {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  color: var(--color-white);
  margin-bottom: 6rem;
}
.title::before {
  content: attr(data-title);
  display: block;
  font-family: var(--font-cursive);
  color: var(--color-main);
  font-weight: 400;
  font-size: 2.4rem;
}

@media screen and (min-width: 1024px) {
  .title::before {
    font-size: 3rem;
  }
}
/* .d item */

.food {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding: 2rem 0;
  border-bottom: 2px dashed var(--color-blue-dark);
}
.food__head {
  display: flex;
  align-items: center;
}
.food__head-image {
  margin-right: 1.5rem;
  width: 90px;
  object-fit: cover;
}
.food__head-name {
  color: var(--color-white);
  display: block;
  text-transform: capitalize;
  font-weight: bold;
  transition: all 0.3s ease;
}
.food__price {
  color: var(--color-main);
  transition: all 0.3s ease;
  font-weight: bold;
}

.food:hover .food__head-name {
  color: var(--color-main);
}

.food:hover .food__price {
  color: var(--color-white);
}

/* testimonial item */

.testimonial {
  background-color: var(--color-background);
  color: var(--color-white-lighter);
  padding: 2.5rem;
  border: 2px solid var(--color-blue-dark);
  border-radius: 10px;
  margin: 1.5rem 1.5rem;
  transition: transform 0.3s ease;
}
.testi__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.testi__title-name {
  font-weight: 600;
  color: var(--color-white);
}
.testi__title-name::after {
  content: attr(data-desc);
  display: block;
  font-weight: 400;
  color: var(--color-white-lighter);
  font-size: 1.6rem;
}
.testi__title-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2.5px solid var(--color-background);
}

.testi__rating {
  margin-top: 1rem;
  font-size: 1.7rem;
}

.testi__rating i {
  color: var(--color-main);
}
.testimonial:hover {
  transform: scale(1.1);
}
.testimonial:hover .testi__title-img {
  border-color: var(--color-main);
}

/* member */
.member {
  position: relative;
  max-width: 80%;
  margin: 4rem 1.5rem;
}
.member__image {
  border-radius: 10px;
  width: 100%;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
}

.member__infor {
  background: var(--color-blue-dark);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 1.5rem;
  font-weight: 600;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  transform: translateY(50%);
  line-height: 2;
  transition: all 0.3s ease;
}

.member__infor::after {
  content: attr(data-content);
  display: block;
  color: var(--color-white-lighter);
  font-weight: 400;
}

.member:hover .member__infor {
  background: var(--color-main);
  transform: translateY(-20%);
}
.member:hover .member__infor::after {
  color: var(--color-white);
}

.member:hover .member__image {
  transform: skewY(3deg);
}
/* container */
.container {
  max-width: 1170px;
  margin: auto;
}
/* flex row */
.flex--row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content--space-between {
  justify-content: space-between;
}

.align-items--center {
  align-items: center;
}

/* nav bar */

.head {
  width: 100%;
  padding: 1.3rem 0;
  position: fixed;
  z-index: 99;
}
.head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-blue-dark);
  height: 100%;
  width: 100%;
  box-shadow: var(--shadow);
  z-index: -1;
  transition: transform 0.5s ease;
  transform: translateY(-100%);
}
.head.sticky::before {
  transform: translateY(0%);
}
.logo {
  display: flex;
  min-height: 3.4rem;
  align-items: center;
  padding: 0 1.5rem;
}
.head__icon {
  color: var(--color-white);
  margin-right: 1.3rem;
  font-size: 2.7rem;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: var(--color-blue-dark);
  width: 280px;
  box-shadow: var(--shadow);
  overflow-y: auto;
  padding: 8rem 0 4rem;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.nav-bar__item a {
  color: var(--color-white);
  display: block;
  font-size: 2.5rem;
  padding: 1rem 3rem;
  transition: color 0.3s ease;
}

.nav-bar__item a:hover {
  color: var(--color-main);
}

.nav-bar.open {
  transform: translateX(0%);
}

.head__icon.active {
  position: absolute;
  z-index: 1;
  right: 0;
  transition: transform 0.3s ease;
  transform: translateX(-1050%);
}

.head__icon.active::before {
  content: "\f00d";
  font-size: 3rem;
}

/* home section */

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.home {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.home .min-vh-100 {
  padding: 10rem 0;
}
.home__bg {
  background: url("../image/home-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  animation: zoomInOut 20s ease infinite;
}
.home__bg::before {
  background-color: #000;
  content: "";
  height: 100vh;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home__content {
  color: var(--color-white);
  margin: auto;
  width: 100%;
  z-index: 1;
  max-width: 700px;
}

.home__title {
  font-family: var(--font-cursive);
  text-transform: capitalize;
}

.home__text {
  color: var(--color-white-lighter);
  font-size: 1.8rem;
  margin-bottom: 3.5rem;
}

/* about */
@keyframes loopCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about {
  background-color: var(--color-background);
}

.about__content {
  color: var(--color-white);
  margin: 0 1.5rem;
}
.about .btn {
  margin-top: 1.5rem;
}

.about__content p {
  color: var(--color-white-lighter);
  margin-bottom: 1rem;
}

.about__img {
  align-self: center;
  position: relative;
}
.about__img img {
  width: 100%;
  border-radius: 10px;
}

.about__decor {
  border: 3px solid var(--color-main);
  width: 70px;
  height: 70px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  animation: loopCircle 10s linear infinite;
}

.about__decor-text {
  font-family: var(--font-cursive);
  width: 100%;
  font-size: 2.5rem;
  position: absolute;
  left: 50%;
  max-width: 250px;
  top: 50%;
  transform: translate(-40%, -40%);
  font-weight: bold;
}
@media screen and (min-width: 415px) {
  .about__decor {
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
  }
  .about__decor-text {
    font-size: 3rem;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .about .grid {
    gap: 3rem;
  }
  .about__img {
    margin: 0 1.5rem;
  }
}

/* menu section */

.menu {
  background-color: var(--color-background);
}

.menu__tabs {
  width: 100%;
  text-align: center;
}

.menu__tab-item {
  background: transparent;
  color: var(--color-white);
  border: none;
  font-weight: 600;
  font-size: 2rem;
  transition: color 0.3s ease;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
}
.menu__tab-item.active {
  color: var(--color-main);
}
.menu__tab-item:hover {
  color: var(--color-main);
}

.menu__tab-content {
  margin: 5rem 1rem 0 1rem;
  display: none;
}

.menu__tab-content.active {
  display: block;
}
.menu__tab-content .food {
  width: 100%;
}

.menu__tab-content .food:nth-last-of-type(1) {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .menu__tab-item {
    font-size: 2.3rem;
  }
  .menu__tab-content .food {
    width: 48%;
  }
  .menu__tab-content .food:nth-last-of-type(1),
  .menu__tab-content .food:nth-last-of-type(2) {
    border-bottom: none;
  }

  .menu__tab-content .flex--row {
    justify-content: space-between;
  }
}

/* testimonail */

.testimonial-section {
  background-color: var(--color-background);
}

@media screen and (min-width: 768px) {
  .testimonial-section .testimonial {
    width: calc(50% - 30px);
  }
}

@media screen and (min-width: 947px) {
  .testimonial-section .testimonial {
    width: calc((100% / 3) - 30px);
  }
}

/* team section */

.team {
  background-color: var(--color-background);
}
.team .flex--row {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .team .member {
    width: calc(50% - 30px);
  }
}

@media screen and (min-width: 947px) {
  .team .member {
    width: calc((100% / 3) - 30px);
  }
}
