<div class="testimonial">
  <div class="testi__title">
    <div class="testi__title-name" data-desc="Food Specialist">
      Raj Himachal
    </div>
    <img
      class="testi__title-img"
      src="image/testimonials/1.jpg"
      alt="testimonials face"
    />
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
    blanditiis impedit harum esse natus earum iure perferendis neque molestias?
    Aliquam!
  </p>
  <div class="testi__rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </div>
</div>
